.post-list {
    background: #fff;
    border: 1px solid #ccc;
}

.post-list__item {
    display: grid;
    grid-template-columns: 50px 1fr 300px;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 0 rgba(0,0,0,.2);
    overflow: hidden;
    margin: 0;
    transform: translate3d(0,0,0);
    transition: box-shadow .65s cubic-bezier(0.075, 0.82, 0.165, 1), transform .55s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.post-list__item:focus .post-list__item__edit,
.post-list__item:hover .post-list__item__edit {
    opacity: 1;
}

.post-list__item:focus .post-list__item__title,
.post-list__item:hover .post-list__item__title {
    font-weight: 600;
}

.post-list__item__image,
.post-list__item__title {
    float: left;
}

.post-list__item__image img {
    height: 50px;
    vertical-align: middle;
    width: 50px;
}

.post-list__item__title {
    color: #111;
    margin-top: 5px;
    margin-bottom: 0;
    padding-left: 20px;
}

.post-list__item:focus,
.post-list__item:hover {
    box-shadow: 0 4px 35px rgba(0,0,0,.2);
    transform: translate3d(0,-2px,0);
}

.post-list__item:last-child {
    border-bottom: 0;
}

.post-list__item__input {
    width: 100%;
}

@supports (display: grid) {
    .post-list__item__save {
        margin-top: 10px;
    }
}

.wp-core-ui .post-list__item__meta a.button {
    margin-left: 10px;
}

.post-list__item__meta {
    justify-self: end;
    float: right;
}

.post-list__item__edit {
    opacity: 0;
    transition: opacity .35s cubic-bezier(0.075, 0.82, 0.165, 1);
}
